In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Flipkart_Mobiles.csv")
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [5]:
df.describe()

            Rating  Selling Price  Original Price
count  2970.000000    3114.000000     3114.000000
mean      4.243098   26436.625562    28333.473025
std       0.271991   30066.892622    31525.599889
min       2.300000    1000.000000     1000.000000
25%       4.100000    9990.000000    10030.250000
50%       4.300000   15000.000000    16889.500000
75%       4.400000   28999.000000    31500.000000
max       5.000000  179900.000000   189999.000000

In [6]:
df.isnull().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [7]:
df.columns

Index(['Brand', 'Model', 'Color', 'Memory', 'Storage', 'Rating',
       'Selling Price', 'Original Price'],
      dtype='object')

In [8]:
df['Memory'].fillna(df['Memory'].mode()[0], inplace=True)
df['Storage'].fillna(df['Storage'].mode()[0], inplace=True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_19848\3764271831.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Memory'].fillna(df['Memory'].mode()[0], inplace=True)
C:\Users\prasa\AppData\Local\Temp\ipykernel_19848\3764271831.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Storage'].fillna(df['Storage'].mode()[0], inplace=True)

In [9]:
df['Rating'].fillna(df['Rating'].median(), inplace=True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_19848\1212022518.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].median(), inplace=True)

In [10]:
df.isnull().sum()

Brand             0
Model             0
Color             0
Memory            0
Storage           0
Rating            0
Selling Price     0
Original Price    0
dtype: int64

In [11]:
df['Memory'] = df['Memory'].str.extract('(\d+)').astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\prasa\AppData\Local\Temp\ipykernel_19848\1000785392.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Memory'] = df['Memory'].str.extract('(\d+)').astype(int)

In [12]:
df['Storage'] = df['Storage'].str.extract('(\d+)').astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\prasa\AppData\Local\Temp\ipykernel_19848\1124162647.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Storage'] = df['Storage'].str.extract('(\d+)').astype(int)

In [13]:
def price_range(price):
    if price < 10000:
        return 0
    elif price < 20000:
        return 1
    elif price < 30000:
        return 2
    else:
        return 3

df['price_range'] = df['Selling Price'].apply(price_range)

In [14]:
df.drop(['Brand', 'Model', 'Color', 'Selling Price'], axis=1, inplace=True)

In [15]:
X = df.drop('price_range', axis=1)
y = df['price_range']

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [17]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [18]:
model = LogisticRegression(max_iter=5000)

cv_scores = cross_val_score(
    model,
    X_scaled,
    y,
    cv=5,
    scoring='accuracy'
)

print("Cross-Validation Scores:", cv_scores)
print("Mean CV Accuracy:", cv_scores.mean())

Cross-Validation Scores: [0.80417335 0.91492777 0.85874799 0.89727127 0.82154341]
Mean CV Accuracy: 0.8593327587185747

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42, stratify=y
)

final_model = LogisticRegression(max_iter=5000)
final_model.fit(X_train, y_train)

y_pred = final_model.predict(X_test)

print("Test Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Test Accuracy: 0.8828250401284109
              precision    recall  f1-score   support

           0       0.92      0.93      0.92       176
           1       0.85      0.91      0.88       226
           2       0.77      0.60      0.67        77
           3       0.95      0.94      0.94       144

    accuracy                           0.88       623
   macro avg       0.87      0.84      0.85       623
weighted avg       0.88      0.88      0.88       623

In [20]:
%%writefile requirements.txt 
streamlit
scikit-learn
numpy
joblib

Writing requirements.txt

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import joblib

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

model = LogisticRegression(max_iter=5000)
model.fit(X_scaled, y)

joblib.dump(model, "mobile_price_model.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']

In [22]:
joblib.dump(model, "mobile_price_model.pkl")

['mobile_price_model.pkl']